<div class="row">
  <h2>Patient Registration</h2>
  <form action="/register-patient" method="post">
    <div class="form-group">
      <label for="patient-name">Name:</label>
      <input name="patient-name" class="form-control" type="text">
      <label for="patient-dob">Date of birth:</label>
      <input name="patient-dob" class="form-control" type="date">
      <label for="patient-phone">Phone Number:</label>
      <input name="patient-phone" class="form-control" type="number" min="1000000000" max="9999999999">
    </div>
    <hr>
    <button type="submit "class="btn btn-success">Complete Registration</button>
  </form>

  <h2>Doctor Registration</h2>
  <form action="/register-doctor" method="post">
    <div class="form-group">
      <label for="doctor-name">Name:</label>
      <input name="doctor-name" class="form-control" type="text">
      <label for="doctor-type">Specialty:</label>
      <input name="doctor-type" class="form-control" type="text">
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Complete Registration</button>
  </form>
</div>
<div class="row">
<div class="col-md-6">
  <h3>Patients</h3>
  <ul>
    <% Doctors_office::Patient.all.to_a.each do |patient| %>
        <%= "<li><a href='/patients/#{patient['id']}'>#{patient['name']}</a></li>" %>
     <% end %>
  </ul>

</div>

<div class="col-md-6">
  <h3>Doctors</h3>
  <ul>
    <% Doctors_office::Doctor.all.to_a.each do |doctor| %>
        <%= "<li><a href='/doctors/#{doctor['id']}'>#{doctor['name']}</a></li>" %>
     <% end %>
  </ul>
</div>


</div>
